<html>
<head>
<title>{{days}} business days until {{what}}</title>
<style>
body {
  font-family: courier;
  background-color: #a1a1a1;
}
p {
  font-size: 12vw;
}
p span {
  font-weight: bold;
  font-size: 14vw;
  color: #e9ab17;
}
</style>
</head>
<body>
{% if what %}
<p><span>{{days}}</span> business days until <span>{{what}}</span></p>
{% else %}
<form action="/" method="GET">
  On date
  <input name="year" placeholder="2017" size="4"> / 
  <input name="month" placeholder="11" size="2"> / 
  <input name="day" placeholder="17" size="2">
  this is going to happen: 
  <input name="what" placeholder="stuff">
  <input type="submit"> (max 50 years!)
</form>
{% endif %}
</body>
</html>
